{% extends "layout/base.html.twig"%}

{% block body %}

    {# PARAMETROS DE BUSQUEDA #}
    <h1>{{ 'MEMBER.searchParameters' | trans }}</h1>
    <form id="formSearch">
        <label>{{ 'ROLE' | trans }}:</label>
        <select name="filterRole" id="filterRole">
            <option></option>
            {% for item in memberRole %}
                <option value="{{item.idMemberRole}}">{{ item.name | trans }}</option>
            {% endfor %}
        </select>
        <br/>

        <label>{{ 'GENERAL.name' | trans }}:</label>
        <input type="text"name="filterName" id="filterName" >
        <br/>

        <label>{{ 'GENERAL.email' | trans }}:</label>
        <input type="text" name="filterUsername" id="filterUsername">
        <br/>

        <input type="checkbox" name="emailValidated" id="emailValidated" value="1" checked> {{ 'MEMBER.emailValidatedByUser' | trans }}<br>
        <input type="checkbox" name="filterValidated" id="filterValidated" value="1" checked> {{ 'MEMBER.validated' | trans }}<br>
        <input type="checkbox" name="filterIsActive" id="filterIsActive" value="1"> {{ 'MEMBER.blocked' | trans }}<br>
        <input type="checkbox" name="filterDeleted" id="filterDeleted" value="1"> {{ 'MEMBER.eliminated' | trans }}<br>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
    {# END PARAMETROS DE BUSQUEDA #}

    <br/>
    <a href="{{path('app_backend_member_add')}}">{{ 'MEMBER.addMember' | trans }}</a>
    <br/>

    {# TABLA DE MEMBERS #}
    <h1>{{ 'MEMBER.userTable' | trans }}</h1>
    <div id="tableMember"></div>
    {# END TABLA DE MEMBERS #}

{% endblock %}
{% block javascripts %}
    {% include 'backend/member/management/js.html.twig' %}
{% endblock %}
