<input id="rwoTotal" value="{{member | length }}" type="hidden">
<input id="rwoActual" type="hidden" value="30">
<input id="rowMax" type="hidden" value="30">
<table class="table table-hover" id="ows-table-users">
    <thead>
        <tr>
            <th class="text-center">ACT</th>
            <th class="text-center">{{ 'ROLE' | trans }}</th>
            <th class="text-left">{{ 'MEMBER.name' | trans }}</th>
            <th class="text-left">{{ 'GENERAL.email' | trans }}</th>
            <th class="text-center">{{ 'MEMBER.actions' | trans }}</th>
            <th class="text-center">{{ 'GENERAL.online' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% set row = 0 %}
        {% for item in member %}
            {% set row = row + 1 %}
            <tr id="row-{{row}}" {% if row > 30 %}style="display: none;"{% endif %}>
                <td>
                    <a href="{{path('app_backend_member_edit', {idMember: item.idMember})}}">{{ 'GENERAL.edit' | trans }}</a>
                </td>
                <td>{{ item.idMemberRole.name | trans }}</td>
                {# role #}
                <td>{{ item.name }}</td>
                {# name #}
                <td id="email">{{ item.username }}</td>
                {# email #}
                <td class="text-center">
                    {% if app.user.idMember == item.idMember %}
                        <button disabled>{{ "GENERAL.impersonate" | trans }}</button>
                    {% else %}
                        <a href="{{ path('homepage', {'_impersonate': item.username } ) }}">{{ "GENERAL.impersonate" | trans }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if item.lastActivity > date2Minutes %}
                        <span style="color:green;">{{ 'GENERAL.online' | trans }}</span>
                    {% else %}
                        {{ 'GENERAL.offline' | trans }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
