<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Docker Station{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="layouts">

		<title>Default layout &mdash; TheAdmin</title>

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

		<!-- Styles -->
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link href="{{ asset('assets/css/core.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/app.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/style.min.css') }}" rel="stylesheet">
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		{% block stylesheets %}{% endblock %}
		<style>
             div#terminal {
                 width: 500px;
                 height: 300px;
            }
        </style>
	</head>
	<body>

        <div class="row min-h-fullscreen center-vh p-20 m-0">
            <div class="col-12">
                <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
                    <h5 class="text-uppercase">Sign in</h5>
                    <br>

                    <form class="form-type-material" id="formAcceso" action="{{ path('app_logincheck') }}" method="post">
                        {% if error %}
                            <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <input type="email" id="loginUsername" name="_username" class="form-control" value="{{ last_username }}"/>
                            <label for="_username">Username</label>
                        </div>

                        <div class="form-group">
                            <input class="form-control" id="loginPassword" name="_password" type="password"/>
                            <label for="_password">Password</label>
                        </div>

                        <div class="form-group">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="btn btn-bold btn-block btn-primary ows-button-one" type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <p class="text-center text-muted fs-13 mt-20">Don't have an account? <a class="text-primary fw-500"
                        href="{{ path('app_register') }}">Sign up</a></p>
            </div>
        </div>

    {# <h2>LOGIN</h2>

    <br/>

    <a href="{{path("app_security_activateresend")}}">Reenviar validación email</a>

    <hr>

    <h2>RECUPERAR CONTRASEÑA</h2>
    <form id="formRecuperar">
        <label>Email:</label>
        <input id="recuperarEmail" name="recuperarEmail" type="email"/>
        <br/>
        <br/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="ows-button-one" onclick="funcRecuperarEmail()" style="float: left;" type="button">Enviar</button>
        <br/>
    </form>

    <h2>REGISTRO Y LOGIN - SOCIAL</h2> #}
    {# SOCIAL BUTTON #}
    {# <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with">
    </fb:login-button> #}

    {# <div class="g-signin2" data-onsuccess="onSignIn"></div> #}
    {# END SOCIAL BUTTON #}

    {# <hr/><h2>
    REGISTRO - USUARIO
    </h2>
        <form id="formRegistroUsuario"> <label>Email:
        </label>
        <input id="usuarioUsername" name="username" onkeypress="enterEvent(event, 'validarRegistroUsuario')" type="email">
        <br/>

        <label>Password:
        </label>
        <input id="password" name="password" onkeypress="enterEvent(event, 'validarRegistroUsuario')" type="password">
        <br/>
        <br/>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="ows-button-one" onclick="validarRegistro()" type="button">{% trans %}Register{% endtrans %}</button>
    </form>

    <br><br>

    <hr/><h2>
    REGISTRO - USUARIO CON GOOGLE
    </h2>

    <a href="{{ path('app_security_apiloginregistergoogle') }}">Registrar con google</a> #}

    <script type='text/javascript'>
        window.addEventListener('load', getOldUrl, false);
        function getOldUrl() {
            var url = document.referrer;
            if (url.indexOf(window.location.host) > 1){
                $('#url').val(url);
            }
        }

        // Metodo para detectar la tecla "Enter"
        function enterEvent(e, acion) {
            if (e.keyCode == 13) {
                switch (acion) {
                    case 'validarRegistroUsuario':
                        validarRegistro();
                        break;
                }
            }
        }

        function validarRegistro() {
            var correcto = false;
            var username = $('#usuarioUsername').val();
            var password = $('#password').val();
            if (username && password) {
                correcto = true;
                $.ajax({
                    url: "{{ path('app_frontend_member_registrar') }}",
                    data: new FormData($('#formRegistroUsuario')[0]),
                    type: "POST",
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        alert(data.msg);
                        setTimeout('location.reload()', 1000);
                    },
                    error: function (err) {
                        alert(err.responseJSON.msg);
                    }
                });
            }

            if (! correcto) {
                alert("Debes introducir todos los datos del registro");
            }
        }

        function funcRecuperarEmail() {
            var username = $('#recuperarEmail').val();
            if (username != '') {
                $.ajax({
                    url: "{{ path('app_security_recoverpassword') }}",
                    data: new FormData($('#formRecuperar')[0]),
                    type: "POST",
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        alert(data.msg);
                    },
                    error: function (err) {
                        alert(err.responseJSON.msg);
                    }
                });

            } else {
                alert('Que email quieres recuperar?', '');
            }

        }

    </script>

    {# {{ include('frontend/member/login_social_script.html.twig') }} #}
    </body>
</html>
