{# SOCIAL LOGIN FACEBOOOK #}

{# URL: https://developers.facebook.com/docs/facebook-login/web #}
{# URL: https://developers.facebook.com/docs/graph-api/reference/user #}

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      //testAPI();
      solcialLoginRegistFacebook();
    } else {
      // The person is not logged into your app or we are unable to tell.
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : 'INCERTAR-NUMERO-ID-FACEBOOK',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });
  };

    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/es_ES/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
      FB.api('/me','GET', {"fields":"email,first_name,last_name,id,gender"},function(response) {
        usrNombre = response.first_name;
        usrApellidos = response.last_name;
        usrCorreo = response.email;
        usrID = response.id;
        usrSexo = response.gender;
    });
  }

  function solcialLoginRegistFacebook(){
      FB.api('/me','GET', {"fields":"email,first_name,last_name,id,gender"},function(response) {
         id = response.id;
         name = response.first_name;
         email = response.email;
         role = 3; 
         if (id != '' && name != '' && email != ''){            
            $.ajax({
               url: "{{ path('app_frontend_member_apisocialloginregister') }}",
               data: {'redSocial': 'facebook', 'id': id, 'name': name, 'email': email, 'role': role},
               type: "POST",
               success: function(data){ 
                  // Una vez ya modamos entrar lo deslogueamos de facebook por que ya usamos el login de la plataforma
                  FB.logout(function(response) {});

                    $.ajax({
                        url: "{{ path('app_frontend_member_apisocialloginregister') }}",
                        data: {'redSocial': 'facebook', 'id': id, 'name': name, 'email': email, 'role': role},
                        type: "POST",
                        success: function(data){ 
                            // Recargar pagina si es correcto
                            location.reload();
                        }
                    });
               }
            });
         }


      });
    }
  

</script>

{# FI SOCIAL LOGIN FACEBOOOK #}


{# SOCIAL LOGIN GOOGLE #}
{# URL: https://developers.google.com/identity/sign-in/web/ #}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="INCERTAR-NUMERO-ID-FACEBOOK">

<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();

   id = profile.getId();
   name = profile.getName();
   email = profile.getEmail();
   role = 3;

   if (id != '' && name != '' && email != ''){
      $.ajax({
         url: "{{ path('app_frontend_member_apisocialloginregister') }}",
         data: {'redSocial': 'google', 'id': id, 'name': name, 'email': email, 'role': role},
         type: "POST",
         success: function(data){ 
            // Una vez ya modamos entrar lo deslogueamos de google por que ya usamos el login de la plataforma
            signOut();
 
            // Recargar pagina si es correcto
            location.reload();
         }
      });
   }
}

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

{# FI SOCIAL LOGIN GOOGLE #}