{% extends "layout/base.html.twig"%}
{% block body %}

    {% if validado == 1 and member %}
        <form id="formRecuperar">
            <label>{{ "GENERAL.password" | trans }}: </label>
            <input id="new-password" name="new-password" type="password"/>
            <br/>

            <label>{{ "GENERAL.repeatPassword" | trans }}: </label>
            <input id="passwordRepeat" name="passwordRepeat" type="password"/>
            <br/>

            <input type="hidden" name="username" value="{{member.username}}">
            <br/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="button" onClick="passwordSet()">Enviar</button>
        </form>
    {% elseif  expired == 1 %}
        <p>Lo sentimos, este link ha expirado. Envia de nuevo la peticiónpara recuperar contraseña y recibirás un nuevo e-mail.</p>
    {% elseif  expired == 0 and validado == 0  %}
        <p>Lo sentimos, hubo un error a la hora de recuperar el password. Intenta enviar de nuevo la petición.</p>
    {% endif %}


{% endblock %}
{% block javascripts %}
    <script>
        function passwordSet() {
            $.ajax({
                url: "{{ path('app_security_apipasswordrecovery') }}",
                data: new FormData($('#formRecuperar')[0]),
                type: "POST",
                contentType: false,
                processData: false,
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (confirm(data.msg)) {
                        var url = '{{ path("app_login") }}';
                        window.location.assign(url);
                    } else {
                        var url = '{{ path("app_login") }}';
                        window.location.assign(url);
                    }
                },
                error: function (err) {
                    alert(err.responseJSON.msg);
                }
            });

        }
    </script>
{% endblock %}
