{% extends "layout/base.html.twig"%}
{% block body %}
    <form id="formResend">
        Email: <input type="text" id="username" name="username" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="button" onClick="emailResend()">Enviar</button>
    </form>

{% endblock %}
{% block javascripts %}
<script>
    function emailResend() {
        $.ajax({
            url: "{{ path('app_security_emailresend') }}",
            data: new FormData($('#formResend')[0]),
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType:"json",
            error: function(err){
                alert(err.responseJSON.msg);
            },
            success: function(data){
                alert(data.msg);
            },
        });
    }

</script>

{% endblock %}
