{% extends "layout/base.html.twig" %}

{% block body %}
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>{{ 'GENERAL.user' | trans }}</th>
                    <th>{{ 'TRANSACTION.facturationNumber' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{transaction.idMember.name}}</td>
                        <td>{{transaction.facturationNumber}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <input type="hidden" id="idTransactions" name="idTransactions[]" value="{{idTransactions|join(',')}}">
        <button type="button" onclick="generateCsv()">{{ 'TRANSACTION.generateCsv' | trans }}</button>
    </div>
{% endblock %}
{% block javascripts %}
    {% include "backend/transaction/js.html.twig" %}
{% endblock %}
