<script>
    function generateCsv() {

        var idTransactions = $("#idTransactions").val();

        $.ajax({
            url: "{{ path('app_transaction_transaction_generatecsv') }}",
            data: {
                'idTransactions': idTransactions
            },
            type: "POST",
            cache: false,
            success: function (data) {
                var wind = window.open("{{ path('app_transaction_transaction_downloadexcel') }}", "_blank");
                wind.focus();
            },
            error: function (err) {
                alert(err.responseJSON.msg);
            }
        })

    }
</script>