{% extends "layout/base.html.twig"%}
{% set currentPath = app.request.attributes.get('_route') %}
{% block body %}
    <form id="editMember" method="post">
        <h3 {% if member.deleted == 0 %} style="display: none;" {% endif %} id="textEliminado">{{ 'MEMBER.userDeleted' | trans }}</h3>
        <h3 {% if member.isActive == 1 %} style="display: none;" {% endif %} id="textBloqueado">{{ 'MEMBER.userBlocked' | trans }}</h3>
        {% if app.user.idMemberRole.name == 'ROLE_ADMINISTRADOR' %}
            <button type="button" onclick="activar(1)" {% if member.isActive == 1 %} style="display: none;" {% endif %} id="buttonDesbloquear">{{ 'MEMBER.unlock' | trans }}</button>
        {% endif %}

        <div id="activity"></div>
        <br/>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {% if app.user.idMemberRole.name == 'ROLE_ADMINISTRADOR' %}
            {% if idActivity is null %}
                <label>{{ 'ROLE' | trans }}:</label>
                <select name="role">
                    {% for role in roles %}
                        <option value="{{role.idMemberRole}}" {% if member.idMemberRole.idMemberRole == role.idMemberRole %} selected {% endif %}>{{ role.name | trans}}</option>
                    {% endfor %}
                <select>
                <br/>
            {% endif %}
        {% endif %}

        <label>{{ 'GENERAL.name' | trans }}:
        </label>
        <input type="text" name="name" value="{{member.name}}"/>
        <br/>

        <label>{{ 'GENERAL.firstSurname' | trans }}:
        </label>
        <input type="text" name="surname" value="{{member.surname}}"/>
        <br/>

        <label>{{ 'GENERAL.secondSurname' | trans }}:
        </label>
        <input type="text" name="secondSurname" value="{{member.secondSurname}}"/>
        <br/>

        <label>{{ 'GENERAL.email' | trans }}:
        </label>
        <input type="mail" name="username" value="{{member.username}}"/> 
        {% if isChangeEmailRequest  %} {{ 'MEMBER.emailRequest_1' | trans }} {{ member.changeUsername }} {{ 'MEMBER.emailRequest_2' | trans }}{% endif %}
        <br/>

        <label>{{ 'GENERAL.password' | trans }}:
        </label>
        <input name="password" type="password"/>
        <br/>

        <label>{{ 'GENERAL.repeatPassword' | trans }}:
        </label>
        <input name="password_rep" type="password"/>
        <br/>

        <label>{{ 'MEMBER.birthDate' | trans }}:
        </label>
        <input type="date" name="birthday" value="{{member.birthday | date("Y-m-d")}}"/>
        <br/>

        <label>{{ 'MEMBER.gender' | trans }}:
        </label>
        <select name="gender">
            <option value="n" {% if member.gender == "n" %} selected {% endif %}>{{ 'MEMBER.genderNoSpecify' | trans }}</option>
            <option value="h" {% if member.gender == "h" %} selected {% endif %}>{{ 'MEMBER.genderMale' | trans }}</option>
            <option value="m" {% if member.gender == "m" %} selected {% endif %}>{{ 'MEMBER.genderFemale' | trans }}</option>
        </select>
        <br/>
        {% if idActivity is defined %}
            <label>{{ 'MEMBER.avatar' | trans }}:
            </label>
            <center>
                {% if member.avatar %}
                    <img src="{{asset('member/')}}{{member.idMember}}/avatar/{{member.avatar}}" id="avatar" style="width: 200px;">
                {% else %}
                    <img src="{{asset('uploads/avatar.jpg')}}" id="avatar">
                {% endif %}
                <input accept="image/gif, image/jpeg, image/png" data-target="#modal-default" data-toggle="modal" multiple="" name="upload" onchange="readSrc(event)" type="file"/>
                <button onclick="deleteAvatar();" type="button" {% if member.avatar is null %} style="display: none" {% endif %}>{{ 'MEMBER.deleteAvatar' | trans }}</button>
            </center>

            <div>
                <div id="editar-imagen"></div>
                <center>
                    <input id="rleft" onclick="eventoRotateLeft()" type="button" value="Flip Left">
                    <input id="rright" onclick="eventoRotateRight()" type="button" value="Flip Right">
                    <button id="reset" onclick="eventoResult()" type="button">{{ 'MEMBER.cropImage' | trans }}</button>
                </center>
            </div>
            <br/>
        {% endif %}

        <input type="hidden" i="idMember" name="idMember" value="{{member.idMember}}"/><br/>

        {% if member.deleted == 0 %}
            <button onclick="save();" type="button">{{ 'GENERAL.save' | trans }}</button>
            {% if member.idMember %}
                <button onclick="deleteUser();" type="button">{{ 'GENERAL.deleteUser' | trans }}</button>
                {% if app.user.idMemberRole.name == 'ROLE_ADMINISTRADOR' %}
                    <button onclick="activar(0);" type="button" {% if member.isActive == 0 %} style="display: none;" {% endif %} id="buttonBloquear">{{ 'MEMBER.block' | trans }}</button>
                {% endif %}
            {% endif %}
        {% endif %}

    </form>

{% endblock %}

{% block javascripts %}
    {% include 'backend/member/edit/js.html.twig' %}
    {% if member.idMember %}
        {% include 'backend/member/edit/js_activity.html.twig' %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('/assets/croppie/croppie.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('/assets/croppie/croppie.css') }}">
{% endblock %}
