<script>
    var photo = [];

    function deleteUser() {
        if (confirm("seguro que quieres eliminar este usuario?")) {
            $.ajax({
                url: "{{ path('app_backend_member_delete') }}",
                data: new FormData($('#editMember')[0]),
                type: "post",
                contentType: false,
                processData: false,
                cache: false,
                dataType: "json",
                error: function (err) {
                    alert(err.responseJSON.msg);
                },
                success: function (data) {
                    alert(data.msg);
                    var idMember = '{{ member.idMember }}';
                    var tokenIdMember = '{{ app.user.idMember }}';
                    if (idMember == tokenIdMember) {
                        var url = '{{ path("homepage") }}';
                        window.location.assign(url);
                    }
                },
                complete: function () {
                    console.log("Request finished.");
                }
            });
        }
    }

    function activar(isActive) {
        $.ajax({
            url: "{{ path('app_backend_member_block') }}",
            data: {
                'idMember': '{{ member.idMember }}',
                'isActive': isActive,
                '_csrf_token': "{{ csrf_token('authenticate') }}"
            },
            type: "post",
            // contentType: false,
            // processData: false,
            cache: false,
            dataType: "json",
            error: function (err) {
                alert(err.responseJSON.msg);
            },
            success: function (data) {
                alert(data.msg);
                if (data.response == 'success' && isActive == 1) {
                    $('#buttonBloquear').css('display', 'inline');

                    $('#textBloqueado').css('display', 'none');
                    $('#buttonDesbloquear').css('display', 'none');
                } else if (data.response == 'success' && isActive == 0) {
                    $('#buttonBloquear').css('display', 'none');

                    $('#textBloqueado').css('display', 'inline');
                    $('#buttonDesbloquear').css('display', 'inline');
                }
            },
            complete: function () {
                console.log("Request finished.");
            }
        });
    }

    function save() {
        var form = new FormData($('#editMember')[0]);

        form.append('avatar', photo);
        $.ajax({
            url: "{{ path('app_backend_member_apiedit') }}",
            data: form,
            type: "post",
            contentType: false,
            processData: false,
            cache: false,
            dataType: "json",
            error: function (err) {
                if (err.responseJSON) {
                    alert(err.responseJSON.msg);
                } else {
                    alert("Ha ocurrido un error inesperado, pruebalo de nuevo más tarde");
                }
            },
            success: function (data) {
                if (data.response == "error_username") {
                    alert(data.msg);
                } else {
                    var idMember = '{{member.idMember}}';
                    if (idMember) {
                        alert(data.msg);
                    } else {
                        if (confirm("Usuario creado correctamente. Desea ir a gestion de usuario?")) {
                            var url = '{{ path("app_backend_member_management") }}';
                        } else {
                            var url = '{{ path("app_backend_member_edit", {idMember: "_idMember"}) }}';
                            url = url.replace("_idMember", data.idMember);
                        }
                        window.location.assign(url);
                    }
                }
            },
            complete: function () {
                console.log("Request finished.");

            }
        });
    }

    function readSrc(event) {
        if (window.File && window.FileList && window.FileReader) {
            var html;
            var e = event || window.event;
            var files = event.target.files;
            var base;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                // Only pics
                if (! file.type.match('image')) 
                    continue;
                var picReader = new FileReader();
                picReader.addEventListener("load", function (event) {
                    base = picReader.result;
                    $('#editar-imagen').croppie('bind', {url: base});

                });
                // Read the image
                picReader.readAsDataURL(file);

            }

        }

    }

    $('#editar-imagen').croppie({
        viewport: {
            width: 250,
            height: 250
        },
        boundary: {
            width: 450,
            height: 300
        },
        showZoomer: true,
        enableOrientation: true,
        customClass: 'crope'
    });

    function eventoRotateLeft() {
        $('#editar-imagen').croppie('rotate', 90);
    }

    function eventoRotateRight() {
        $('#editar-imagen').croppie('rotate', -90);
    }

    function eventoResult() {
        $('#editar-imagen').croppie('result', {type: 'canvas'}).then(function (resp) {
            $("#avatar").attr("src", resp);
            photo[0] = resp;

        });
    }

    function deleteAvatar() {
        $("#avatar").attr("src", "{{ asset('uploads/avatar.jpg') }}");
        photo[0] = "deleted";
    }
</script>
