<script>
    {% if member.idMember %}
        window.addEventListener('load', activity, false);

        function activity() {
            $.ajax({
                url: "{{ path('app_activity_search') }}",
                data: {
                    "idMember": "{{ member.idMember }}",
                    "wildcard": "{{ member.idMember }}",
                    "route": "app_backend_member_apiedit",
                    "_csrf_token": "{{ csrf_token('authenticate') }}"
                },
                type: "post",
                cache: false,
                dataType: "json",
                success: function (data) {
                    $("#activity").empty();
                    for (var index in data) {
                        var url = '{{ path("app_backend_member_edit", {idMember: member.idMember, history: "_history"}) }}';
                        url = url.replace("_history", data[index].idActivity);
                        url = url.split('&amp;').join('&');
                        $("#activity").append('<a href="' + url + '">' + dateFormat(data[index].date) + '</a> ');
                    }
                }
            });

        }

        function dateFormat(date) {
            var timestamp = date;

            var date = new Date(timestamp * 1000);
            var _mes = date.getMonth() + 1;
            var _dia = date.getDate();
            var _anyo = date.getFullYear();

            var fecha = _dia + "-" + _mes + "-" + _anyo;


            // asignar el valor de las unidades en milisegundos
            var msecPerMinute = 1000 * 60;
            var msecPerHour = msecPerMinute * 60;
            var msecPerDay = msecPerHour * 24;

            var date1 = new Date(timestamp * 1000);
            var date2 = new Date();

            // Obtener la diferencia en milisegundos
            var interval = date2.getTime() - date1.getTime();

            // Calcular cuentos días contiene el intervalo. Substraer cuantos días
            // tiene el intervalo para determinar el sobrante
            var days = Math.floor(interval / msecPerDay);
            interval = interval - (days * msecPerDay);

            // Calcular las horas , minutos y segundos
            var hours = Math.floor(interval / msecPerHour);
            interval = interval - (hours * msecPerHour);

            var minutes = Math.floor(interval / msecPerMinute);
            interval = interval - (minutes * msecPerMinute);

            var seconds = Math.floor(interval / 1000);

            if (days == 0 && hours == 0 && minutes == 0) {
                fecha = "Hace " + seconds + " s";
            } else if (days == 0 && hours == 0) {
                fecha = "Hace " + minutes + " m";
            } else if (days == 0) {
                fecha = "Hace " + hours + " h y " + minutes + " m";
            } else if (days == 1) {
                fecha = "Hace un día";
            }

            return fecha;
        }

    {% endif %}
</script>
