<h3>You did it! You changed your username!</h3>

Hi {{ member.name }} {{ member.surname }} {{ member.secondSurname }}! You've successfully change your username.<br>

Now You must verificate that this new email is yours.<br>

Please, go to: <a href="{{absolute_url(url)}}">Activar el nou username</a>.

Thanks!
