<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Invoice!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    </head>
    <body>
        Numero de factura: {{numeroFactura}}
        <h1>Información usuario</h1>
        <div>
            Nom: {{member.name}} {{member.surname}}
            <br>
            Email: {{member.username}}
        </div>
        <hr>
        <h1>Informacion productos</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Descripció</th>
                <th>Quantitat</th>
                <th>Unit Cost</th>
                <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% if transaction.idCupon %}
                    {% if transaction.idCupon.type == '%' %}
                        Cupon de un {{transaction.idCupon.quantity}} % aplicado
                    {% elseif transaction.idCupon.type == '€' %}
                        Cupon de {{transaction.idCupon.quantity}} € aplicado
                    {% endif %}
                {% endif %}
                {% for product in products %}
                    <tr>
                        <td> {{loop.index}} </td>
                        <td> {{product.idProduct}}</td>
                        <td></td>
                        {% for quantity in productsInCart %}
                            {% if quantity['idProduct'] == product.idProduct %}
                                <td> {{quantity['quantity']}} </td>
                            {% endif %}
                        {% endfor %}
                        <td>{{product.price}}</td>
                        {% for quantity in productsInCart %}
                            {% if quantity['idProduct']  == product.idProduct %}
                                {% if transaction.idCupon %}
                                    <span style="text-decoration:line-through;">{{quantity['totalPrice']}}</span>
                                    {% if transaction.idCupon.type == '%' %}
                                        <td> {{quantity['totalPrice'] - (transaction.idCupon.quantity / 100 * quantity['totalPrice'])}} </td>
                                    {% elseif transaction.idCupon.type == '€' %}
                                        <td> {{quantity['totalPrice'] - quantity['totalPrice']}} </td>
                                    {% endif %}
                                {% else %}
                                    <td> {{quantity['totalPrice']}} </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </body>
</html>
