{% extends "layout/base.html.twig"%}

{% block body %}
<div class="card">
    <h4 class="card-title"><strong>Welcome</strong></h4>

    {# <div class="card-body">
        <ul>
            <li><a href="{{path("app_backend_member_management")}}">app_backend_member_management</a></li>
            <li><a href="{{path("app_backend_activity_management")}}">app_backend_activity_management</a></li>
            <li><a
                    href="{{path("app_backend_member_edit", {'idMember': app.user.idMember})}}">app_backend_member_edit</a>
            </li>
            <li><a href="{{path("app_backend_product_gestion")}}">app_backend_product_gestion</a></li>
            <li><a href="{{path("app_backend_dockermanagement_dockercreate")}}">Docker Create</a></li>
            <li><a href="{{path("app_backend_dockermanagement_dockerlist")}}">Docker List</a></li>
             <li><a href="{{path("app_frontend_product_buscador")}}">app_frontend_product_buscador</a></li>
                     <li><a href="{{path("app_transaction_transaction_showcupons")}}">app_transaction_transaction_showcupons</a></li>
                     <li><a href="{{path("app_transaction_transaction_showtransactionsuser")}}">app_transaction_transaction_showtransactionsuser</a></li> 
            {% if is_granted('ROLE_PREVIOUS_ADMIN')%}
            <li><a href="{{path("app_backend_member_management", {"_impersonate":"_exit"})}}">logout to
                    {{app.user.name}}</a></li>
            {% else %}
            <li><a href="{{path("app_logout")}}">{{ 'GENERAL.logout' | trans }}</a></li>
            {% endif %}
        </ul>
    </div> #}
    <div class="card-body">
        <h2>Tutorial Bases de Datos</h2><br><br>

Para el uso optimo de la base de datos hay que distinguir lo siguiente:<br>

Usuario para Mysql/MariaDB: root<br>
Usuario para postgres: postgres<br>
Password por defecto: secret<br>
Servidor base: 10.0.2.11:puertodb, 10.0.2.12:puertodb o 10.0.2.13:puertodb<br><br>

Uso de adminer: (10.0.2.11:puertoadminer, 10.0.2.12:puertoadminer o 10.0.2.13:puertoadminer)<br>

<img src="{{asset('assets/img/db1.PNG')}}" id="a">
<br>
<br>
Como podemos ver hay campos necesarios que hay que rellenar para conectarse:<br>

Seleccionamos el motor que vayamos a usar, en este caso mysql.<br>
Escribimos el servidor seleccionado (por ejemplo, 10.0.2.11:puertodb)<br>
Escribimos el usuario por defecto (root)<br>
Escribimos la password por defecto (secret)<br>

Le damos al boton de login y listo.<br>
<br>
<br>
<br>
<br>
<h2>Tutorial Apache2:</h2><br><br>

En el caso de las máquina apache, el puerto db será nuestro puerto por defecto para apache(10.0.2.11:puertodb, 10.0.2.12:puertodb o 10.0.2.13:puertodb)<br>


Si queremos efectuar algún cambio, nos podemos conectar por ssh con los siguientes datos:<br>

Usuario root por defecto: apache2<br>
Contraseña por defecto: secret<br><br>

Una vez tenemos estos datos nos conectamos a nuestra máquina:<br>

ssh apache2@10.0.2.11 -p <br>

Ahí nos pedirá si queremos conectarnos y luego pedirá la contraseña antes mencionada.<br><br>

Una vez dentro, puedes cambiar la contraseña por defecto del usuario o crear un usuario nuevo sin problemas.<br><br><br><br>
<h2>Tutorial uso de Docker Station</h2><br><br>




Por ejemplo tenemos esta maquina en nuestro docker list:<br><br>

<img src="{{asset('assets/img/tut1.PNG')}}">
 <br><br>

Para encender nuestra máquina le damos al boton de play (icono), para apagarla le damos al boton de stop (icono) y para borrarlo le damos al boton de erase (icono)<br><br>

Para crearlo, le damos create nombre, seleccionamos que maquina queremos usar, le assignamos el nombre que queramos para verlo en docker list i le damos a crear.
    </div>
</div>
{% endblock %}