{% extends "layout/base.html.twig"%}

{% block body %}

    {# PARAMETROS DE BUSQUEDA #}
    <h1>{{ 'ACTIVITY.searchParameters' | trans }}</h1>
    <form id="formSearch">
        <label>{{ 'ACTIVITY.description' | trans }}:</label>
        <select name="filterRoute">
            <option></option>
            {% for controller in activity %}
                {% for item in controller %}
                    <option value="{{item.route}}">{{ item.description }}</option>
                {% endfor %}
            {% endfor %}
        </select>
        <br/>

        <label>idMember:</label>
        <input type="number" name="filterIdMember">
        <br/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
    {# END PARAMETROS DE BUSQUEDA #}

    {# TABLA DE MEMBERS #}
    <h1>{{ 'ACTIVITY.userTable' | trans }}</h1>
    <div id="tableActivity"></div>
    {# END TABLA DE MEMBERS #}

{% endblock %}
{% block javascripts %}
    {% include 'backend/activity/management/js.html.twig' %}
{% endblock %}
