<script>
    const MARGEN = .1;
    var tiempoEspera;
    var modifiedForm;
    window.addEventListener('load', search, false);

    $(function () {
        $(window).on("scroll", endPage)
    });

    function endPage() {
        if (MARGEN > ($(document).height() - 100) - $(window).scrollTop() - $(window).height()) {
            var rowMax = parseInt($("#rwoActual").val()) + parseInt($("#rowMax").val());
            for (var i = $("#rwoActual").val(); i < rowMax; i++) {
                $("#row-" + i).css('display', '');
            }
            $("#rwoActual").val(rowMax);
        }
    }

    function editCategory(id) {
        var name = "";
        var titulo = 'Crear';
        if (id) {
            name = $('#idCategoryUno-' + id).html();
            titulo = 'Editar';
        }
        var contenido = `
                <div class="form-group">
                    <label for="input-name">Nombre de la categoría</label>
                    <input type="text" class="form-control" id="input-name" name="input-name" value="` + name + `">
                </div>
            `;
        var footer = `
                <button class="btn btn-w-md btn-outline btn-secondary" data-dismiss="modal" type="button">Cancelar</button>
                <button class="btn btn-w-md btn-primary" data-dismiss="modal" onClick="updateCategory(` + id + `)" >Guardar</a>
            `;
        modalEstandar(contenido, titulo, footer);
    }

    function search() {
        $.ajax({
            url: "{{ path('app_backend_activity_search') }}",
            data: new FormData($('#formSearch')[0]),
            type: "POST",
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                $("#tableActivity").html(data);
            }
        });
    }

    
    $(document).ready(function () {
        $("input").keyup(function () {
            modifiedForm = true;
        });
        $('form select').on('change', function(){
            modifiedForm = true;
        });
        setInterval(function () {
            if (modifiedForm) {
                modifiedForm = false;
                search();
            }
        }, 800);
    });
</script>
