<input id="rwoTotal" value="{{activity | length }}" type="hidden">
<input id="rwoActual" type="hidden" value="30">
<input id="rowMax" type="hidden" value="30">
<table>
    <thead>
        <tr>
            <th>idMember</th>
            <th>Description</th>
            <th>Params (GET)</th>
            <th>Wildcard</th>
            <th>Locale</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% set row = 0 %}
        {% for item in activity %}
            {% set row = row + 1 %}
            <tr id="row-{{row}}" {% if row > 30 %}style="display: none;"{% endif %}>
                <td>{{item.idMember}}</td>
                <td>{{item.route}}</td>
                <td>{{item.params}}</td>
                <td>{{item.wildcard}}</td>
                <td>{{item.locale}}</td>
                <td>{{item.date | date("d-m-y h:m")}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
