{% extends "layout/base.html.twig"%}

{% block body %}

<!-- formulario -->
<form id="formProduct">

    <label class="a">
        <!-- Price: --><br><span>*</span>
        {{ 'PRODUCT.price' | trans }}:<br>
        <input type="number" name="price" placeholder="Price" value="{{product[0].price}}" class="campo-form" min="1"
            step="any" required>
    </label>

    <label class="a">
        <!-- stock: --><br><span>*</span>
        {{ 'PRODUCT.stock' | trans }}:<br>
        <input type="number" name="stock" placeholder="Available stock" value="{{product[0].stock}}" class="campo-form">
    </label><br />

    <br />

    <label class="a">
        <!-- name: --><br><span>*</span>
        {{ 'GENERAL.name' | trans }}:<br>
        <input type="text" name="name" placeholder="Name" value="{{product[0].name}}" class="campo-form" required>
    </label>

    <label class="a">
        <!-- url: --><br><span>*</span>
        Url:<br>
        <input type="text" name="url" placeholder="URL" class="campo-form" value="{{product[0].url}}" required>
    </label>

    <label class="a">
        <!-- category: --><br><span>*</span>
        {{ 'GENERAL.category' | trans }}:<br>
        <select name="category[]" class="campo-form" multiple>
            {% for item in category %}
            {% set selected = 0 %}
            {% if product[0].category %}
            {% for product_category in product[0].category %}
            {% if product_category.idCategory == item.idCategory %}
            {% set selected = 1 %}
            {% endif %}
            {% endfor %}
            {% endif %}
            <option value="{{item.idCategory}}" {% if selected==1 %}selected{% endif %}>{{item.name}}</option>
            {% endfor %}
        </select>
    </label>
    <label class="a">
        <!-- category: --><br><span>*</span></label>
    {{ 'GENERAL.photos' | trans }}:<br>
    <div id="preLoadPhoto" style=";display:flex;width:95%;flex-wrap: wrap;flex-direction: row;">
        {% if product[0].photos %}
            {% set position = 0 %}
            {% for item in product[0].photos%}
                <input type="hidden" id="photo-name-{{position}}" value="{{item.name}}">
                {% set idProduct = product[0].idProduct %}
                <div style="width:270px;height:200px;" id="photo-box-{{position}}">
                    <img id="img-{{position}}" style="width:200px;height:100px;" src="{{ asset('product/') }}{{ idProduct }}{{('/photos/')}}{{item.name}}" class="img-product"></img>
                    <br />
                    <button type="button" onClick="imgDelete('{{position}}')">{{ 'GENERAL.delete' | trans }}</button>
                    <button type="button" onclick="selectImg(document.getElementById('img-{{position}}').src, '{{position}}')">{{ 'GENERAL.edit' | trans }}</button>
                    {% if categoryPhotos %}
                        <select id="{{item.name}}" name="photo-select-{{position}}">
                        {% for category in categoryPhotos %}
                            {% set trobat = '' %}
                            {% if category.visible == 0 %}
                                {% for keyPhoto, valuePhoto in item %}
                                    {% if keyPhoto == category.name %} {% set trobat = 1%}{% endif %}
                                {% endfor %}
                                {% if not trobat %}
                                    <option value="{{category.name}}">{{category.name}}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="button" onClick="newSelect('{{position}}');" value="+">
                    {% endif %}
                    <br />
                    <br />
                    {% for category in categoryPhotos %}
                        {% set trobat = '' %}
                        {% set key = '' %}
                        {% set value = '' %}
                        {% if category.visible == 1 %}
                            {% for keyPhoto, valuePhoto in item %}
                                {% if keyPhoto == category.name %}
                                    {% set key = keyPhoto %}
                                    {% set value = valuePhoto %}
                                    {% set trobat = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if not trobat %}
                                {% set key = category.name %}
                                {% set value = "" %}
                                {% set trobat = 1 %}
                            {% endif %}
                        {% else %}
                            {% for keyPhoto, valuePhoto in item %}
                                {% if keyPhoto == category.name %}
                                    {% set key = keyPhoto %}
                                    {% set value = valuePhoto %}
                                    {% set trobat = 1 %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if trobat == 1 %}
                            <div id='photo-item-{{position}}-{{key}}'>
                                <label>{{key}}:</label>
                                <input type='text' id='photo-select-{{position}}-{{key}}' placeholder='{{key}}' name='{{key}}' value='{{value}}'
                                    onblur="photoUpdateArray('{{position}}','{{key}}',this.value)">
                                <button type="button" onClick="deleteSelect({{position}},'{{key}}')">-</button>
                                <br />
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% set position = position + 1 %}
            {% endfor %}
        {% endif %}
    </div>
    <br />

    <input id="images" type="file" name="photo[]" onChange="readSrc(event)" multiple />

    <label class="a">
        <br>
        <input type="hidden" name="idProduct" placeholder="idProduct" value="{{product[0].idProduct}}" class="campo-form">
        <input type="hidden" name="localeProduct" placeholder="idProduct" value="{{ localeProduct }}" class="campo-form">
    </label>
    <div class="row">
        <div class="col-md-6 text-center">
            <div id="editar-imagen" style="width:350px"></div>
        </div>
        <div class="col-md-6" style="padding-top:30px;">
            <input type="button" id="rleft" onClick="eventoRotateLeft()" value="Flip Left">
            <input type="button" id="rright" onClick="eventoRotateRight()" value="Flip Right">
            <br />
            <button id="reset" type="button" class="btn btn-success" onclick="eventoResult()"></button>
        </div>
    </div>

    <button type="button" onClick="save()">{% if product[0].idProduct %} {{'Update' | trans }} {% else %} {{'Save' | trans }} {% endif %}</button>

    <select style="display:none;" id="photoToDelete" name="photoToDelete[]" multiple>
    </select>
</form>

{% endblock %}

{% block javascripts %}
    {% include 'backend/product/js_edit.html.twig' %}
{% endblock %}
{% block stylesheets %}
    <script src="{{ asset('/assets/croppie/croppie.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('/assets/croppie/croppie.css') }}">
{% endblock %}