{% extends "layout/base.html.twig"%}

{% block body %}
<form id="formProduct">
    <label>{{ 'GENERAL.from' | trans }} </label>
    <input type="date" name="from" {% if filtreFrom %}value="{{filtreFrom | date("Y-m-d")}}"{% endif %}/>
    <label> {{ 'GENERAL.to' | trans }} </label>
    <input type="date" name="to" {% if filtreTo %}value="{{filtreTo | date("Y-m-d")}}"{% endif %}/>
    <br><label>
        {{ 'PRODUCT.minPrice' | trans }}:<br>
        <input type="number" name="filtreMinPrice" placeholder="Mininum Price" value="{{filtreMinPrice}}">
    </label>
    <br/>
    <label>
        {{ 'PRODUCT.maxPrice' | trans }}:<br>
        <input type="number" name="filtreMaxPrice" placeholder="Maximum Price" value="{{filtreMaxPrice}}">
    </label>
    <br/>
    <label>
        {{ 'GENERAL.category' | trans }}:<br>
        <select name="category[]" class="campo-form" multiple>
        {% for item in category %}
            <option value="{{item.idCategory}}">{{item.name}}</option>
        {% endfor %}
        </select>
    </label>
    <br/>
    <button type="button" onClick="buscar();">{{ 'GENERAL.search' | trans }}</button>
</form>

<input type="button" value="es" onclick="window.location.href='{{ path('app_backend_product_gestion', {localeProduct:"es"} ) }}'" >
<input type="button" value="en" onclick="window.location.href='{{ path('app_backend_product_gestion', {localeProduct:"en"} ) }}'">
<br/>
<br/>

<button type="button" onClick="addProduct()">{{ 'PRODUCT.addProduct' | trans }}</button>
<br/>
<br/>
<div style="float:left;">
    <table border="1">
        <tr>
            <td></td>
            <td {% if pagination.isSorted('product.idProduct') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'idProduct', '[idProduct]') }}</td>
            <td {% if pagination.isSorted('product.price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'price', '[price]') }} </td> 
            <td>{{ knp_pagination_sortable(pagination, 'stock', '[stock]') }} </td>
            <td>{{ knp_pagination_sortable(pagination, 'Deleted', '[deleted]') }}</td>
            <td>{{ knp_pagination_sortable(pagination, 'Visible', '[visible]') }}</td>
            <td>locale</td>
            <td>{{ knp_pagination_sortable(pagination, 'category', '[category]') }}</td>
            <td>Creation Date</td>
            <td>Modification Date</td>
        </tr>    
    
        {# abans pagination -> product#}
        {% for product in pagination %}
        <tr>
                <td><a href="{{ path('app_backend_product_edit', {idProduct: product.idProduct, localeProduct:product.locale} ) }}">{{ 'GENERAL.edit' | trans }}</a></td>
                <td>{{ product.idProduct }}</td>
                <td>{{ product.price }}</td> 
                <td>{{ product.stock }}</td>
                <td>{{ product.deleted}}</td>
                <td>{{ product.visible}}</td>
                <td>{{ product.locale}}</td>
                <td>
                    {% for category in product.category %}
                        {{ category.name }} ,

                    {% endfor %}
                </td>
                <td>{{ product.creationDate|date('m/d/Y h:i:s') }}</td>
                <td>{{ product.modificationDate|date('m/d/Y h:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
<div>

{% endblock %}
{% block javascripts %}
    {% include 'backend/product/js_gestion.html.twig' %}
{% endblock %}


