<script>

function buscar(){
    var formData = new FormData($('#formProduct')[0]);
    var str = '?';
    for(var pair of formData.entries()) {
        if(pair[1]){
            str += pair[0]+'='+pair[1]+'&';
        }
    }
    var temp = str.substr(0, str.length -1);
    var url = "{{path('app_backend_product_gestion')}}" + temp;
    window.location.assign(url);
}

function addProduct(){
    var url = "{{path('app_backend_product_edit')}}";
    window.location.assign(url);
}

</script>