{% extends "layout/base.html.twig"%}

{% block body %}
<form id="ficheroS3">
    <input type="file" name="upload-fichero" >
    <button type="button" id="submit-fichero" >Subir</button>
</form>

<form id="deleteFicheroS3">
    <input type="text" name="key-fichero" >
    <button type="button" id="delete-fichero" >Eliminar Fichero</button>
</form>

{% endblock %}

{% block javascripts %}
    <script>
        $("#submit-fichero").on("click", function(){
            $.ajax({
                url: "{{ path('app_backend_default_apis3') }}",
                data: new FormData($('#ficheroS3')[0]),
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType:"json",
                success: function(data){
                   
                },
                error: function(err){
                }
            });
        });

        $("#delete-fichero").on("click", function(){
            $.ajax({
                url: "{{ path('app_backend_default_apideletes3') }}",
                data: new FormData($('#deleteFicheroS3')[0]),
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType:"json",
                success: function(data){
                   
                },
                error: function(err){
                }
            });
        })

    </script>
{% endblock %}