{% extends "layout/base.html.twig"%}

{% block body %}
<div class="card">
    <h4 class="card-title"><strong>Create docker</strong></h4>

    <div class="card-body">
        <form method="post" accept-charset="UTF-8" id="dockercreateform">
            <div class="row">
                <div class=""></div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="name">Docker Name</label>
                      <input type="text" class="form-control" id="name" name="name" value="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label class="d-block" for="type">Docker Type</label>
                        <select data-provide="selectpicker" id="type" name="type">
                            <option value="mysql">MySQL</option>
                            <option value="postgres">PostgresSQL</option>
                            <option value="mariadb">MariaDB</option>
                            <option value="apache2">Apache Server</option>
                        </select>
                    </div>
                </div>
            
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <input type="hidden" name="member" id="member" value="{{app.user.idMember}}">
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="col-md-12">
                    <span class="btn btn-success" onclick="addDocker()">Create</span>
                </div>

                {% if error is defined %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {% include "backend/dockermanagement/js.html.twig" %}
{% endblock %}