{% extends "layout/base.html.twig"%}

{% block body %}
<div class="card">
    <h4 class="card-title"><strong>Docker List</strong></h4>

    <div class="card-body">
        <form method="post" accept-charset="UTF-8" id="dockercreateform">
            <div class="row">
                <div id="terminal-container"></div>

                <script>
                    const term = new Terminal();
                    const socket = new WebSocket('tcp://127.0.0.1:10001');
                    const attachAddon = new AttachAddon(socket);

                    // Attach the socket to term
                    term.loadAddon(attachAddon);
                </script>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {% include "backend/dockermanagement/js.html.twig" %}
{% endblock %}