<script>
    function editCategory(id) {
        var name = "";
        var titulo = 'Crear';
        if (id) {
            name = $('#idCategoryUno-' + id).html();
            titulo = 'Editar';
        }
        var contenido = `
                <div class="form-group">
                    <label for="input-name">Nombre de la categoría</label>
                    <input type="text" class="form-control" id="input-name" name="input-name" value="` + name + `">
                </div>
            `;
        var footer = `
                <button class="btn btn-w-md btn-outline btn-secondary" data-dismiss="modal" type="button">Cancelar</button>
                <button class="btn btn-w-md btn-primary" data-dismiss="modal" onClick="updateCategory(` + id + `)" >Guardar</a>
            `;
        modalEstandar(contenido, titulo, footer);
    }

    function addDocker() {
        var urlCreate = "{{ path('app_backend_dockermanagement_dockeradd') }}";
        var dataForm = new FormData($('#dockercreateform')[0])
        $.ajax({
            url: urlCreate,
            data: dataForm,
            type: "post",
            contentType: false,
            processData: false,
            cache: false,
            dataType: "json", 
            error: function (err) {
            },
            success: function (data) {
            },
            complete: function () {
                console.log("Request finished.");
            }
        });
    }

    function initializeDocker(idDocker){
        if(!idDocker)
            return false;

        var url = "{{ path('app_backend_dockermanagement_dockerinit') }}";
        var dataForm = new FormData();
        dataForm.append('idDocker', idDocker);
        $.ajax({
            url: url,
            data: dataForm,
            type: "post",
            contentType: false,
            processData: false,
            cache: false,
            dataType: "json", 
            error: function (err) {
            },
            success: function (data) {
            },
            complete: function () {
                console.log("Request finished.");
            }
        });
    }

    function stopDocker(idDocker){
        if(!idDocker)
            return false;

        var url = "{{ path('app_backend_dockermanagement_dockerstop') }}";
        var dataForm = new FormData();
        dataForm.append('idDocker', idDocker);
        $.ajax({
            url: url,
            data: dataForm,
            type: "post",
            contentType: false,
            processData: false,
            cache: false,
            dataType: "json", 
            error: function (err) {
            },
            success: function (data) {
            },
            complete: function () {
                console.log("Request finished.");
            }
        });
    }

    function deleteDocker(idDocker){
        if(!idDocker)
            return false;

        var url = "{{ path('app_backend_dockermanagement_dockerdelete') }}";
        var dataForm = new FormData();
        dataForm.append('idDocker', idDocker);
        $.ajax({
            url: url,
            data: dataForm,
            type: "post",
            contentType: false,
            processData: false,
            cache: false,
            dataType: "json", 
            error: function (err) {
            },
            success: function (data) {
            },
            complete: function () {
                console.log("Request finished.");
            }
        });
    }
    
    $(document).ready(function () {
        
    });
</script>
