{% extends "layout/base.html.twig"%}

{% block body %}
<div class="card">
    <h4 class="card-title"><strong>Docker List</strong></h4>

    <div class="card-body">
        <form method="post" accept-charset="UTF-8" id="dockercreateform">
            <div class="row">
                <div class=""></div>
                <div class="col-md-12">
                    <table class="table table-hover table-responsive-md">
                        <thead class="thead-light">
                            <tr>
                                <th>ID Docker</th>
                                <th>Docker Name</th>
                                <th>Port of Activity</th>
                                <th>Properties</th>
                                <th class="text-center w-100px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for docker in userDockers %}
                                <tr id="docker-{{docker.id}}">
                                    <th scope="row">
                                    {% if docker.idDocker %}
                                        {{docker.idDocker}}
                                    {% else %}
                                        Not available
                                    {% endif %}
                                    </th>
                                    <td>{{docker.name}}</td>
                                    <td>{{docker.port}}</td>
                                    <td>{{docker.dockerProperties}}</td>
                                    <td class="text-right table-actions">
                                        <span class="table-action hover-primary cursor-pointer" onclick="initializeDocker('{{docker.idDocker}}');"><i class="ti-control-play"></i></span>
                                        <span class="table-action hover-primary cursor-pointer" onclick="stopDocker('{{docker.idDocker}}');"><i class="ti-control-stop"></i></span>
                                        <span class="table-action hover-danger cursor-pointer" onclick="deleteDocker('{{docker.idDocker}}');"><i class="ti-trash"></i></span>
                                        {# <div class="dropdown table-action">
                                            <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i
                                                    class="ti-more-alt rotate-90"></i></span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="ti-menu-alt"></i> Details</a>
                                                <a class="dropdown-item" href="#"><i class="ti-clip"></i> Add file</a>
                                                <a class="dropdown-item" href="#"><i class="ti-bar-chart"></i>
                                                    Performance</a>
                                            </div>
                                        </div> #}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {% include "backend/dockermanagement/js.html.twig" %}
{% endblock %}