{% extends "layout/base.html.twig"%}

{% block body %}


<div id="content">

    <form id="formProduct">
        <label>
            {{ 'PRODUCT.minPrice' | trans }}:<br>
            <input type="number" name="filtreMinPrice" placeholder="Mininum Price" value="{{filtreMinPrice}}">
        </label>
        <br/>
        <label>
            {{ 'PRODUCT.maxPrice' | trans }}:<br>
            <input type="number" name="filtreMaxPrice" placeholder="Maximum Price" value="{{filtreMaxPrice}}">
        </label>
        <br/>
        <label>
            {{ 'GENERAL.category' | trans }}:<br>
            <select name="category[]" class="campo-form" multiple>
            {% for item in category %}
                <option value="{{item.idCategory}}">{{item.name}}</option>
            {% endfor %}
            </select>
        </label>
        <br/>
        <button type="button" onClick="buscar();">Buscar</button>
    </form>

    <input type="button" value="es" onclick="window.location.href='{{ path('app_frontend_product_buscador', {localeProduct:"es"} ) }}'" >
    <input type="button" value="en" onclick="window.location.href='{{ path('app_frontend_product_buscador', {localeProduct:"en"} ) }}'">
    <br/>
    <br/>
    <div style="float:left;">
        <table border="1">
            <tr>
                <td>idProduct</td>
                <td>{{ 'PRODUCT.price' | trans }} </td> 
                <td>{{ 'PRODUCT.stock' | trans }} </td>
                <td>locale</td>
                <td>category</td>
                <td>add to cart</td>
            </tr>    
        
            {% for product in pagination %}
            <tr>
                <td>{{ product.idProduct }}</td>
                <td>{{ product.price }}</td>
                {% if product.availableStock %}
                    <td>{{ product.stock - product.availableStock }}</td>
                {% else %}
                    <td>{{ product.stock }}</td>
                {% endif %}
                <td>{{ product.locale}}</td>
                <td>
                    {% for category in product.category %}
                        {{ category.name }} {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td style="text-align: center;"><button id="addTo" style="cursor: pointer; text-decoration: none; color: #000;" onclick="addToCart({{product.idProduct}})"><span>&#43;</span> add to cart</button></td>
            </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    <div>

</div>

{% endblock %}

{% block javascripts %}
    {% include 'frontend/product/js.html.twig' %}
{% endblock %}
