<script>
    function buscar(){
        //console.log(new FormData($('#formProduct')[0]));
        var formData = new FormData($('#formProduct')[0]);
        var str = '?';
        for(var pair of formData.entries()) {
            if(pair[1]){
                str += pair[0]+'='+pair[1]+'&';
            }
        }
        var temp = str.substr(0, str.length -1);    // matxaca darrer '&'
        var url = "{{path('app_frontend_product_buscador')}}" + temp;
        location.assign(url);
    }

    function addToCart(idProduct) {
        
        $.ajax({
            url: "{{path('app_transaction_transaction_addtocart')}}",
            data: { 'idProduct' : idProduct },
            type: "POST",
            cache:false,
            error: function (err) {
                console.error(err.responseJSON.msg);
            },
            success: function (data) {
                console.log(data);
            }
        });
    }
</script>