{% extends "layout/base.html.twig"%}

{% block body %}
    <form id="formCupons">
        <label>{{ 'TRANSACTION.quantity' | trans }}:</label>
        <input type="number" id="quantity" name="quantity">
        <br>
        <br>
        <label>{{ 'TRANSACTION.type' | trans }}</label>
        <select id="type" name="type">
            <option value="%">%</option>
            <option value="€">€</option>
        </select>
        <br>
        <br>
        <label>{{ 'TRANSACTION.products' | trans }}</label>
        <select id="products" name="products[]" multiple>
            {% for product in products %}
                <option value="{{product.idProduct}}">{{product.idProduct}}</option>
            {% endfor %}
        </select>
        <br>
        <button type="button" onclick="addCupon()">{{ 'TRANSACTION.addCoupon' | trans }}</button>
    </form>
    <br>
    <br>
    <div id="cupons">
        
    </div>
{% endblock %}

{% block javascripts %}
    {% include "backend/transaction/cupons/js.html.twig" %}
{% endblock %}