<script>
    $(document).ready(function(){
        search();
    });

    function search(){
        $.ajax({
            url: "{{ path('app_transaction_transaction_buscadorcupons') }}",
            data: {},
            type: "POST",
            cache: false,
            success: function (data) {
                $("#cupons").html(data);
            }
        });
    }

    function addCupon(){
        $.ajax({
            url: "{{ path('app_transaction_transaction_addcoupons') }}",
            data: new FormData($('#formCupons')[0]),
            type: "POST",
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                search();
            },
            error: function (err){
                alert(err.responseJSON.msg);
            }
        });
    }
</script>