<table>
    <tr>
        <th>{{ 'TRANSACTION.coupon' | trans }}</th>
        <th>{{ 'TRANSACTION.products' | trans }}</th>
        <th>{{ 'TRANSACTION.quantity' | trans }}</th>
        <th>{{ 'TRANSACTION.type' | trans }}</th>
        <th>{{ 'TRANSACTION.used' | trans }}</th>
    </tr>
    {% for cupon in cupons %}
        <tr>
            <td>{{cupon.idCupon}}</td>
            <td>
                {% for product in products %}
                    {% if product.idCupon.idCupon == cupon.idCupon %}
                        {{product.idProduct.idProduct}}{% if not loop.last %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{cupon.quantity}}</td>
            <td>{{cupon.type}}</td>
            <td>{{cupon.used}}</td>
        </tr>
    {% endfor %}
</table>