<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Docker Station{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="layouts">

		<title>Default layout &mdash; TheAdmin</title>

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

		<!-- Styles -->
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link href="{{ asset('assets/css/core.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/app.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/style.min.css') }}" rel="stylesheet">
		{# <link href="{{ asset('assets/xtermjs/css/xterm.css') }}" rel="stylesheet"> #}
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		{# <script src="{{ asset('assets/xtermjs/lib/xterm.js') }}"></script> #}
		{% block stylesheets %}{% endblock %}
		<style>
             div#terminal {
                 width: 500px;
                 height: 300px;
            }
        </style>
	</head>
	<body>
		
	  	<!-- Sidebar -->
		<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
			<header class="sidebar-header bg-dark">
				{# <a class="logo-icon" href="../index.html"><img src="" alt="logo icon"></a> #}
				<span class="logo">
					{# <a href="../index.html"><img src="" alt="logo"></a> #}
				</span>
				<span class="sidebar-toggle-fold"></span>
			</header>

			<nav class="sidebar-navigation">

				<div class="sidebar-profile pt-3 pb-0">
					<div class="text-left">
						<span class="text-white" data-toggle="dropdown">User Logged-in :</span>
					</div>
					<div class="profile-info mt-0 text-left">
						{# <h4>Maryam Amiri</h4> #}
						<p class="mb-0">{{app.user.username}}</p>
					</div>
				</div>

				<ul class="menu">

					<li class="menu-category">List</li>

					<li class="menu-item">
						<a class="menu-link" href="/">
							<span class="icon fa fa-home"></span>
							<span class="title">Home</span>
						</a>
					</li>

					<li class="menu-item">
						<a class="menu-link" href="#">
							<span class="icon fa fa-tv"></span>
							<span class="title">Dockers</span>
							<span class="arrow"></span>
						</a>

						<ul class="menu-submenu">
							<li class="menu-item">
								<a class="menu-link" href="{{path("app_backend_dockermanagement_dockerlist")}}">
									<span class="dot"></span>
									<span class="title">Docker List</span>
								</a>
							</li>

							<li class="menu-item">
								<a class="menu-link" href="{{path("app_backend_dockermanagement_dockercreate")}}">
									<span class="dot"></span>
									<span class="title">Create Docker</span>
								</a>
							</li>

						</ul>
					</li>

					<li class="menu-divider"></li>

					<li class="menu-item">
						<a class="menu-link" href="{{path("app_logout")}}">
							<span class="icon fa fa-sign-out"></span>
							<span class="title">{{ 'GENERAL.logout' | trans }}</span>
						</a>
					</li>
					{# {% if app.user is null %}
			<a href="{{ path('app_login') }}">{{ 'GENERAL.login' | trans }}</a>
			{% else %}
			<a href="{{path("dashboard")}}">Dashboard</a>
			{% endif %}
 			#}
					{# _LOCALE #}
					{# {% set route = app.request.attributes.get('_route') %}
			{% set route_params = app.request.attributes.get('_route_params') %}
			{% set params = route_params|merge(app.request.query.all) %}
			{% for locale in locales %}
			{% if locale != app.request.locale %}
			<a href="{{ path(route, params|merge({ _locale: locale })) }}">{{locale}}</a>
			{% endif %}
			{% endfor %} #}
					{# END _LOCALE #}

					{# END CART #}
					{# <button id="cart" onclick="showCart()" style="position: relative; float: right;">{{ 'GENERAL.cart' | trans }}</button> #}
				</ul>
			</nav>

		</aside>
	  <!-- END Sidebar -->

	  <!-- Main container -->
    <main class="main-container">
    	<div class="main-content">
    		{% block body %}{% endblock %}
    	</div>
    </main>
    <!-- END Main container -->
	  
	  <br />
	  <br />
	  <div id="side" style="display: none; position: relative; float: right;">
	    <div id="cartContent" style="border: 1px solid black; padding: 10px;"></div>
	  </div>
	  {# END CART #}
	
	<!-- Footer -->
	<footer class="site-footer">
		<div class="row">
			<div class="col-md-6">
				<p class="text-center text-md-left">Copyright © 2019 <a href="http://thetheme.io/theadmin">TheAdmin</a>.
					All rights reserved.</p>
			</div>
			<div class="col-md-6">
				<ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
					<li class="nav-item">
						<a class="nav-link" href="../help/articles.html">Documentation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../help/faq.html">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"
							href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&amp;open_purchase_for_item_id=20475359&amp;purchasable=source&amp;ref=thethemeio">Purchase
							Now</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- END Footer -->
		<script src="{{ asset('assets/js/core.min.js') }}"></script>
		<script src="{{ asset('assets/js/app.min.js') }}"></script>
		<script src="{{ asset('assets/js/script.min.js') }}"></script>
		{% block javascripts %}
		{% endblock %}
		{% include "layout/js.html.twig" %}

	</body>
</html>
