<script>
    function showCart(finish) {
        var content = document.getElementById("cartContent");

        $.ajax({
            url: "{{path('app_transaction_transaction_showcart')}}",
            data: { 'finished' : finish },
            type: "POST",
            cache:false,
            error: function (err) {
                console.error(err.responseJSON.msg);
            },
            success: function (data) {
                $("#side").css('display','inline');
                $('#cartContent').html(data);
            }
        });
    }
</script>