<ul>
    {% for item in transaction %}
        <li><strong>{{item['product']['idProduct']}}</strong></li>
    {% endfor %}
</ul>
<a href="{{path('app_transaction_transaction_showfinish')}}">Ir al carrito</a>