{% extends 'layout/base.html.twig' %}
{% block body %}

    <main>
        <div>
            <div>
                <div>
                    <h3>Finalizar compra</h3>
                </div>
                <div>
                    <p>Formulari</p>
                </div>
                <div>
                    <button onclick="finishBought({{transaction.idTransaction}})" type="button">Finalizar compra</button>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
{% block javascripts %}
<script>

    function returnHome(){
        var url = '{{ path("app_frontend_product_buscador") }}';

        window.location.assign(url);
    }

    function finishBought(idTransaction){
        $.ajax({
            url: "{{ path('app_transaction_transaction_checkout') }}",
            data: {
                "idTransaction": idTransaction
            },
            type: "post",
            cache: false,
            error: function (err) {
                console.log(err);
            },
            success: function (data) {

                window.location.assign('{{path("homepage")}}');
            },
        });
    }

</script>
{% endblock %}