{% extends "layout/base.html.twig"%}

{% block body %}

<div class="content">
    <div>
        <form id="promotionalForm">
            <label>Codigo de descuento</label>
            <input type="text" name="promotionalCode" id="promotionalCode">
            <button type="button" onclick="applyCupon()">Añadir cupon</button> 
            {% if transaction.idCupon %} <span id='apliedCupon'>El cupon se ha aplicado correctamente <button type="button" onclick="deleteCoupon()">Quitar</button> </span> {% endif %}
        </form>
        <br>
    </div>
    <table border="1" width="100%" style="text-align: center;">

        <thead>
            <tr>
                <th>Artículo</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Precio total</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% if transaction %}
                {% for item in productsInCart %}
                    <tr>
                        <td>{{ item.product['idProduct'] }}</td>
                        <td id="product-{{loop.index0}}">
                            {% if transaction.idCupon %}
                                <span style="text-decoration:line-through">{{ item.product['price'] }}</span>
                                {% if transaction.idCupon.type == '%' %}
                                    <span>{{ item.product['price'] - (transaction.idCupon.quantity / 100 * item.product['price']) }}</span>
                                {% elseif transaction.idCupon.type == '€' %}
                                    <span>{{ item.product['price'] - transaction.idCupon.quantity  }}</span>
                                {% endif %}
                            {% else %}
                                {{ item.product['price'] }}
                            {% endif %}
                            €
                        </td>
                        <td>
                            <select data-product="{{item['idProduct']}}" class="select-quantity">
                                {% for index in 0..item['quantity']+9 %}
                                    <option {% if index == item['quantity'] %} selected {% endif %} value="{{ index }}">{{ index }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td id="price-{{loop.index0}}">
                            {% if transaction.idCupon %}
                                <span style="text-decoration:line-through">{{ item['totalPrice'] }}</span>
                                {% if transaction.idCupon.type == '%' %}
                                    <span>{{ item['totalPrice'] - (transaction.idCupon.quantity / 100 * item['totalPrice']) }}</span>
                                {% elseif transaction.idCupon.type == '€' %}
                                    <span>{{ item['totalPrice'] - transaction.idCupon.quantity  }}</span>
                                {% endif %}
                            {% else %}
                                {{item['totalPrice']}}
                            {% endif %}
                        </td>
                        <td><a href="#" onclick="deleteFromCart({{item.product['idProduct']}})">Eliminar</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>

    </table>

    <hr/>

    <h2>Total: {% if transaction %} {% if transaction.idCupon %} <span style="text-decoration:line-through;">{{ transaction.total }}</span> {{price}}€ {% else %} {{transaction.total}} {% endif %} {% else %} 0 {% endif %}</h2>
 
    <hr/>
    {% if transaction %}
        <button style="float: left;" onclick="shop()">Seguir Comprando</button>
        <button style="float: right;" id="continueButton" onclick="finalize({{ transaction.idTransaction }})">Continuar</button>
    {% endif %}

</div>

{% endblock %}

{% block javascripts %}
    <script>

        $(".select-quantity").change(function(){

            var quantity = $(this).val();            
            var idProduct = $(this).attr('data-product');
            var element = $(this);
            $("#continueButton").attr('disabled',true);

            $.ajax({
                url: "{{ path('app_transaction_transaction_updatequantity') }}",
                data: {
                    "quantity":quantity,
                    "idProduct": idProduct
                },
                type: "POST",
                cache: false,
                error: function (err) {
                    $("#continueButton").attr('disabled',false);
                    $("#continueButton").html("Continuar");
                    
                },
                success: function (data) {

                    $("#continueButton").attr('disabled',false);
                    $("#continueButton").html("Continuar");
                },
            });

        })

        function shop(){
            var url = '{{ path("app_frontend_product_buscador") }}';

            window.location.assign(url);
        }

        function finalize(idTransaction){
            var url = '{{ path("app_transaction_transaction_showcheckout", {"idTransaction": "_idtransaction"}) }}';
            url = url.replace("_idtransaction", idTransaction);

            window.location.assign(url);
        }

        function deleteFromCart(idProduct){
            $.ajax({
                url: "{{ path('app_transaction_transaction_deletefromcart') }}",
                data: {
                    "idProduct": idProduct
                },
                type: "post",
                cache: false,
                error: function (err) {
                    console.log(err);
                },
                success: function (data) {
                    $("#product-"+idProduct).remove();
                },
            });
        }

        function applyCupon(){
            var promotionalCode = $("#promotionalCode").val();

            $.ajax({
                url: "{{ path('app_transaction_transaction_applycoupon') }}",
                data: {
                    "promotionalCode": promotionalCode
                },
                type: "post",
                cache: false,
                error: function (err) {
                    aler(err.responseJSON.msg);
                },
                success: function (data) {
                    $("#promotionalForm").append("<span id='apliedCupon'>El cupon se ha aplicado correctamente</span> <button type='button' onclick='deleteCoupon()'>Quitar</button>");
                }
            });
        }

        function deleteCoupon(){
            $.ajax({
                url: "{{ path('app_transaction_transaction_deletecoupon') }}",
                data: {},
                type: "post",
                cache: false,
                error: function (err) {
                    alert(err.responseJSON.msg);
                },
                success: function (data) {
                    $("#apliedCupon").remove();
                },
            });
        }

    </script>
{% endblock %}